.repoBox {
    width: 90vw;
    margin: 10vh 5vw;
    /* height: 100vh; */
}

.commitBox1 {
    width: 90vw;
    padding: 1vh 0;
    display: flex;
    margin: 5vh 0;
    justify-content: space-between;
    /* background-color: pink; */
    box-shadow: 0 0 5px rgb(0, 0, 0, .3);
}

.issueBox1 {
    width: 90vw;
    padding: 1vh 0;
    display: flex;
    margin: 5vh 0;
    justify-content: space-between;
    /* background-color: pink; */
    box-shadow: 0 0 5px rgb(0, 0, 0, .3);
}